<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437694063639-bkvdg83j4t5umc0hjq0n0v39b33uuao7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437694063639-bkvdg83j4t5umc0hjq0n0v39b33uuao7</string>
	<key>API_KEY</key>
	<string>AIzaSyBgHd0vrHMDdPsUs24IXTYA5Xs6sPZvdVw</string>
	<key>GCM_SENDER_ID</key>
	<string>437694063639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.furlaneto.murilo.desafio.loomi</string>
	<key>PROJECT_ID</key>
	<string>desafioloomi-18686</string>
	<key>STORAGE_BUCKET</key>
	<string>desafioloomi-18686.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437694063639:ios:e61b6957d84aabf6dfe852</string>
</dict>
</plist>